form {
    font-size: 20px;
  }
  
  h1,
  h2,
  h3 {
    position: relative;
    left: 100px;
    top: 90px;
    font-size: 15px;
    line-height: 15px;
  }
  
  h4,
  h5,
  h6 {
    position: relative;
    left: 400px;
    top: -70px;
    font-size: 15px;
  }

  h4 {
  line-height: 15px;
  }
  
  .image {
    position: relative;
    left: 300px;
    width: 90px;
  }
  
  .weather-app {
    margin: 20px auto;
    max-width: 70%;
  }
  
  h2 {
    font-size: 28px;
  }
  
  .box {
    background: lightgrey;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    padding: 15px;
  }
  
  .form-control {
    margin-left: auto;
  }
  
  #celcius {
    position: relative;
    font-size: 19px;
    top: -5px;
  }

  body {
  background-color: skyblue;
  }


  .target {
  text-align: center;
  }
  