form {
    font-size: 20px;
  }
  
  
  h2,
  h3 {
    text-align:left;
    font-size: 16px;
    line-height: 15px;
  }

  h1 {
  text-align: left;
  margin-bottom: 8px;
  }
  
  h4,
  h5,
  h6 {
    text-align: right;
    font-size: 16px;
    font-style:italic;

  }

  h3 {
  margin-bottom: 0px;
  }

  h4 {
  line-height: 15px;
  }

  h5 {
  margin-bottom: 5px;
  }
  
  
  .weather-app {
    font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
    padding: 20px 20px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  .box {
    background: #FFFFFF;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    padding: 15px;
  }
  
  .form-control {
    margin-left: auto;
  }
  
  #celcius {
    font-size: 19px;
  }

  body {
  background-color: #F7F5FC;
  }


  footer {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  }
  


  #column {
    box-sizing: border-box;
    color: rgb(236, 118, 138);
    display: block;
    flex-basis: 50%;
    font-size:16px;
    font-weight: 400;
    height:128px;
    line-height: 24px;
    max-width:50%;
    padding-left:15px;
    padding-right:15px;
    position:relative;
    text-align:left;
    text-size-adjust:100%;
    width:320px;
  }
  
  #location {
  font-weight: bold;
  color: rgb(236, 118, 138);
  font-style: italic;
  }

  #searchButton {
  background-color: rgb(236, 118, 138);
  font-weight: bold;
  border: none;
  }

  #weatherIcon { 
    box-sizing: border-box;
  }


  #icon {
  position: relative;
  top: -30px;
  }
  
  #form-here {
   margin-bottom: 30px;
  }

  #celcius-link {
  text-decoration: none;
  color:rgb(236, 118, 138);
  }

  #fahrenheit-link {
  text-decoration: none;
  color:rgb(236, 118, 138);
  }

  #fahrenheit-link:hover {
  color: blue;
  }

  #celcius-link:hover {
    color: blue;
    }
   
    #weatherInformation {
    margin-bottom: 12px;
    }

    #description {
    text-transform: capitalize;
    }

    .weather-forecast {
    margin-top: 40px;
    text-align: center;
    }

    .weather-date {
    font-size: 16px;
    color:rgb(236, 118, 138);
    }

    .weather-units {
    font-size: 13px;
    color:rgb(236, 118, 138);
    }

    .weather-units-min {
    opacity: 0.8;

    }